*{
    box-sizing: border-box;
}
* button{
    height: 100%;
    cursor: pointer;
   
}
section{
    margin: auto;
    width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 10px;
    background-color: rgba(245, 222, 179, 0.37);
    padding: 10px;
}
section h1{
    font-size: 40px;
    text-align: center;

}
section ul{
    width: 100%;
    padding: 0;
    
}
.buttonGroup{
    min-width: 120px;
}
section ul li{
    background-color: rgba(127, 255, 212, 0.5);
    width: 100%;
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    cursor: pointer;
    margin: 2px 0;
}
section ul li p{
    padding: 0 10px ;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: auto;

    
}
.createNewItem{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 40px;
}
.createNewItem input{
    height: 100%;
    width: 60%;
    font-size: 20px;
}
.createNewItem button{
    height: 100%;
    width: 100px;
    background-color: cadetblue;
    color: white;
    border: none;
}
.createNewItem button:hover{
    background-color: rgb(140, 187, 189);
}
.deleted{
    display: none;
}
.inputChange{
    width: 200px;
    height: 100px;
}

.check{
    position: absolute;
    top: calc(50% - 10px);
    left: -20px;
}
.parentPosition{
    position: relative;
}
.pCheck{
    text-decoration: line-through;
}
.saveBtn{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;

}
.inputChange{
    background-color: rgba(179, 218, 205, 1);
    width: 80%;
    height: 100%;
    position: absolute;

}
